@import "./box";

.panel {
  margin: 10px;
}

.panel-graph {
  margin-top: $base-unit;
  height: $base-unit * 20;

  svg {
    height: $base-unit * 20;
    width: 100%;
  }

  polyline {
    stroke-width: 1;
    fill: none;

    &.xAxis, &.yAxis {
      stroke: $gray-3;
    }

    &.line {
      stroke: $brand-primary;
    }
  }

  text {
    font-size: 6px;
  }
}

.panel-footer {
  margin-top: $base-unit;
  border-top: 3px solid $gray-7;
  text-align: right;
}